# Godot 4+ specific ignores
.godot/
/android/

# Builds exportadas do jogo
export.cfg
export_presets.cfg
/builds/
*.exe
*.pck

# Arquivos de sistema
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/

anotations.md

# Assets
/assets/sprites/tiles/dungeon-asset-pack
/assets/sprites/tiles/dungeon-objects
/assets/sprites/tiles/medieval-fortress-kit
/assets/sprites/tiles/Pixel Art Basic
/assets/sprites/tiles/undead-tileset-kit

